<div class="input-group w-100">
    <label for="{{id}}" class="input-group__content">
        <input id="{{id}}" class="input w-100" type="{{type}}" class="{{classInput}}" placeholder="{{placeholder}}">
        <span class="input-group__label">{{title}}</span>
        <span class="input-group__helper">{{textError}}</span>
    </label>
</div>